<!-- <div class="row"> -->
<!-- Колонка с роутами для добавления данных -->
<!-- <div class="col-lg-4">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/mark']">добавить марку</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/model']">Добавить модель</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/modification']">Добавить модификацию</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/unit']">Добавить агрегат</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/detail']">Добавить деталь</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/item']">Добавить составляющие детали</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/addmain/analogue']">Добавить аналог</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-8"> -->
<!-- Страницы добавления данных -->
<!-- <router-outlet></router-outlet>
  </div>
</div> -->

<mat-accordion>
  <mat-expansion-panel (opened)="panelFirstLevelState = true" (closed)="panelFirstLevelState = false" *ngFor="let car of cars$ | async"
    (click)="passMarkId(car._id)">
    <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="space-between center" fxFlex="50%">
        {{car.markName}}
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center" fxFlex="50%">
        Внесите изменения или добавьте новые данные
        <button mat-icon-button color="primary" (click)="expression">
          <mat-icon>library_add</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!--  *ngIf="!isLoading" -->
    <ng-template matExpansionPanelContent>
      <mat-expansion-panel (opened)="panelSecondLevelState = true" (closed)="panelSecondLevelState = false" *ngFor="let model of models$ | async"
        (click)="passModelId(model._id)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{model.modelsName}}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end center">
            Внесите изменения или добавьте новые данные
            <button mat-icon-button color="primary">
              <mat-icon>library_add</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
