<flash-messages></flash-messages>
<div class="row">
  <!-- Колонка с роутами для добавления данных -->
  <div class="col-lg-4">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/mark']">добавить марку</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/model']">Добавить модель</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/modification']">Добавить модификацию</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/unit']">Добавить агрегат</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/detail']">Добавить деталь</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/item']">Добавить составляющие детали</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/add/analogue']">Добавить аналог</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-8">
    <!-- Страницы добавления данных -->
    <router-outlet></router-outlet>
  </div>
</div>
