<!-- Вывод флеш-сообщений -->
<div class="alert alert-{{message.type}} mt-2" *ngIf="message">{{message.text}}</div>
<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" #loginForm="ngForm" style="min-height: 500px">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" email required name="email" [(ngModel)]="loginUserData.email"
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" required name="password" [(ngModel)]="loginUserData.password">
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" type="button" [disabled]="loginForm.invalid"
      (click)="loginUser()">Login</button>
    <!-- <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner> -->
  </form>
</section>
