<app-dropdown (showItems)="showItems($event)"></app-dropdown>
<div class="row" *ngIf="isPassedId">
    <div class="col-lg-6">
        <img src="{{itemImage}}">
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"># п/п</th>
                    <th scope="col">Артикул</th>
                    <th scope="col">Название детали</th>
                    <th scope="col">Примечание</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active" *ngFor="let detail of details">
                    <th scope="row">{{detail.itemNumber}}</th>
                    <td>
                        <p *ngFor="let article of detail.itemArticle">{{article}}</p>
                    </td>
                    <td>{{detail.itemName}}</td>
                    <td>{{detail.itemNote}}</td>
                </tr>
                <tr>
            </tbody>
        </table>
    </div>
</div>