<mat-toolbar color="primary" class="navbar" fxLayout="row">
  <a [routerLink]="['/start']" fxLayout="row">Щит cars</a>
  <ul fxLayout="row" fxLayoutAlign="end center" fxFlex>
    <!-- Ссылка на главную страницу -->
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLink]="['/home']">Быстрый каталог</a>
    </li>
    <!-- Ссылка на страницу каталогов -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/catalog']">Полный каталог</a>
    </li>
    <!-- Ссылка на страницу редактирования машин -->
    <li class="nav-item" [routerLinkActive]="['active']" *ngIf="_loginService.loggedIn()">
      <a class="nav-link" [routerLink]="['/editing']">Редактирование</a>
    </li>
    <!-- Ссылка на страницу логина -->
    <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!_loginService.loggedIn()">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <!-- Ссылка на страницу о сайте -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/about']">О проекте</a>
    </li>
    <!-- Ссылка logout -->
    <li class="nav-item" [routerLinkActive]="['active']" *ngIf="_loginService.loggedIn()">
      <a class="nav-link" [routerLink]="['/login']" (click)="_loginService.logOut()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
