<form #form="ngForm">
  <div class="select">
    <label for="markName">Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select id="markName" (change)="passCarId($event)" class="form-control">
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="modelName">Модель</label>
    <!-- Передача ID выбранной модели в компонент -->
    <select id="modelName" (change)="passModelId($event)" class="form-control">
      <option></option>
      <option *ngFor="let model of modelName" [value]="model._id">{{model.modelsName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="modificationName">Модификация</label>
    <!-- Передача ID выбранной модификации в компонент -->
    <select id="modificationName" (change)="passModificationId($event)" class="form-control">
      <option></option>
      <option *ngFor="let modification of modifications" [value]="modification._id">{{modification.modificationName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="detailGroup">Агрегат</label>
    <!-- Передача ID выбранного агрегата в компонент -->
    <select id="detailGroup" (change)="passUnitId($event)" class="form-control">
      <option></option>
      <option *ngFor="let unit of units" [value]="unit._id">{{unit.unitName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="detailName">Деталь</label>
    <!-- Передача ID выбранной детали в компонент -->
    <select id="detailName" (change)="passDetailId($event)" class="form-control">
      <option></option>
      <option *ngFor="let detail of details" [value]="detail._id">{{detail.detailName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="analogueName">Оригинальный номер</label>
    <!-- Передача ID выбранных оригинальных номеров в компонент -->
    <select id="analogueName" (change)="passOriginalId($event)" class="form-control">
      <option></option>
      <option *ngFor="let analogue of analogues" [value]="analogue._id">{{analogue.originalNumber}}</option>
    </select>
  </div>
  <button class="btn btn-danger" (click)="remove()" [disabled]="!isConfirmed">Удалить</button>
  <div class="form-group">
    <p>Внесите новые данные для детали автомобиля</p>
    <input type="text" class="form-control" [(ngModel)]="originalNumber" name="originalNumber" required placeholder="Внесите оригинальные номера через запятую">
    <textarea type="text" class="form-control" [(ngModel)]="note" name="note" required placeholder="Добавьте примечание"></textarea>
    <input type="text" class="form-control" [(ngModel)]="picture" name="picture" required>
  </div>
  <button class="btn btn-warning" (click)="editItems()" [disabled]="!isConfirmed && !form.valid">Редактировать</button>
</form>