<!-- Вывод флеш-сообщений -->
<div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>
<form #form="ngForm" novalidate>
  <div class="form-group">
    <label>Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select (change)="passCarId($event)" class="custom-select" name="carItem" ngModel required>
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Модель</label>
    <!-- Передача ID выбранной модели в компонент -->
    <select (change)="passModelId($event)" class="custom-select" name="model" ngModel required>
      <option></option>
      <option *ngFor="let model of modelName" [value]="model._id">{{model.modelsName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Модификация</label>
    <!-- Передача ID выбранной модификации в компонент -->
    <select (change)="passModificationId($event)" class="custom-select" name="modification" ngModel required>
      <option></option>
      <option *ngFor="let modification of modifications" [value]="modification._id">{{modification.modificationName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Агрегат</label>
    <!-- Передача ID выбранного агрегата в компонент -->
    <select (change)="passUnitId($event)" class="custom-select" name="unit" ngModel required>
      <option></option>
      <option *ngFor="let unit of units" [value]="unit._id">{{unit.unitName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Деталь</label>
    <!-- Передача ID выбранной детали в компонент -->
    <select (change)="passDetailId($event)" class="custom-select" name="detail" ngModel required>
      <option></option>
      <option *ngFor="let detail of details" [value]="detail._id">{{detail.detailName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Оригинальный номер</label>
    <!-- Передача ID выбранных оригинальных номеров в компонент -->
    <select (change)="passOriginalId($event)" class="custom-select" name="analogue" ngModel required>
      <option></option>
      <option *ngFor="let analogue of analogues" [value]="analogue._id">{{analogue.originalNumber}}</option>
    </select>
  </div>
  <button class="btn btn-danger" (click)="remove()" [disabled]="!isConfirmed">Удалить</button>
  <!-- Блок внесения данных -->
  <div class="form-group">
    <label>Внесите новые данные для детали автомобиля</label>
    <input type="text" class="form-control" [(ngModel)]="originalNumber" name="originalNumber" required placeholder="Внесите оригинальные номера через запятую"
      #number="ngModel" [class.is-invalid]="number.invalid && number.touched">
    <small *ngIf="number.invalid && number.touched">Заполните форму</small>
    <textarea type="text" class="form-control" [(ngModel)]="note" name="note" placeholder="Добавьте примечание"></textarea>
    <input type="text" class="form-control" [(ngModel)]="picture" name="picture" placeholder="Внесите ссылку на изображение">
  </div>
  <button class="btn btn-warning" (click)="editItems()" [disabled]="form.form.invalid">Редактировать</button>
</form>
