input {
    margin-bottom: 7px;
}

select {
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 7px;
}

.form-group {
    margin-bottom: 5px;
}

small {
    color: #d9534f;
    margin-bottom: 7px;
    display: block;
}