<!-- Вывод флеш-сщщбщений -->
<div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>
<form #form="ngForm" novalidate (ngSubmit)="addModification()">
  <div class="form-group">
    <label>Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select (change)="passCarId($event)" class="custom-select" name="carItem" ngModel required>
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Модель</label>
    <!-- Передача ID выбранной модели в компонент -->
    <select (change)="passModelId($event)" class="custom-select" name="model" ngModel required>
      <option></option>
      <option *ngFor="let model of modelName" [value]="model._id">{{model.modelsName}}</option>
    </select>
  </div>
  <!-- Блок внесения данных -->
  <div class="form-group">
    <label>Внесите модификацию автомобиля</label>
    <input type="text" class="form-control" [(ngModel)]="modificationlName" name="modificationlName" required #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched">
    <small *ngIf="name.invalid && name.touched">Заполните форму</small>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="form.form.invalid">Добавить</button>
</form>
