<!-- Вывод флеш-сообщений -->
<div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>
<form #form="ngForm" novalidate>
  <div class="form-group">
    <label>Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select (change)="passCarId($event)" class="form-control" required name="carItem" ngModel>
      <option></option>
      <option *ngFor="let carItem of marksName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <button class="btn btn-danger" (click)="remove()" [disabled]="!isConfirmed">Удалить</button>
  <!-- Блок внесения данных -->
  <div class="form-group">
    <label>Внесите новое название модели автомобиля</label>
    <input type="text" class="form-control" [(ngModel)]="markName" name="markName" required #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched">
    <small *ngIf="name.invalid && name.touched">Заполните форму</small>
  </div>
  <button class="btn btn-warning" (click)="editMark()" [disabled]="form.form.invalid">Редактировать</button>
</form>
