<!-- Вывод флеш-сообщений -->
<div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>
<form #form="ngForm" novalidate>
  <div class="form-group">
    <label>Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select (change)="passCarId($event)" class="custom-select" name="carItem" ngModel required>
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Модель</label>
    <!-- Передача ID выбранной модели в компонент -->
    <select (change)="passModelId($event)" class="custom-select" name="model" ngModel required>
      <option></option>
      <option *ngFor="let model of modelName" [value]="model._id">{{model.modelsName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Модификация</label>
    <!-- Передача ID выбранной модификации в компонент -->
    <select (change)="passModificationId($event)" class="custom-select" name="modification" ngModel required>
      <option></option>
      <option *ngFor="let modification of modifications" [value]="modification._id">{{modification.modificationName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Агрегат</label>
    <!-- Передача ID выбранного агрегата в компонент -->
    <select (change)="passUnitId($event)" class="custom-select" name="unit" ngModel required>
      <option></option>
      <option *ngFor="let unit of units" [value]="unit._id">{{unit.unitName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Раздел</label>
    <!-- Передача ID выбранного раздела в компонент -->
    <select (change)="passDetailId($event)" class="custom-select" name="detail" ngModel required>
      <option></option>
      <option *ngFor="let detail of details" [value]="detail._id">{{detail.detailName}}</option>
    </select>
  </div>
  <button class="btn btn-danger" (click)="remove()" [disabled]="!isConfirmed">Удалить</button>
  <!-- Блок внесения данных -->
  <div class="form-group">
    <p>Внесите новые данные для раздела</p>
    <input type="text" class="form-control" [(ngModel)]="detailName" name="detailName" required placeholder="Внесите новое название раздела"
      #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
    <small *ngIf="name.invalid && name.touched">Заполните форму</small>
    <input type="text" class="form-control" [(ngModel)]="detailImage" name="detailImage" required placeholder="Внесите новую ссылку на схему"
      #link="ngModel" [class.is-invalid]="link.invalid && link.touched">
    <small *ngIf="link.invalid && link.touched">Заполните форму</small>
  </div>
  <button class="btn btn-warning" (click)="editDetail()" [disabled]="form.form.invalid">Редактировать</button>
</form>
