<flash-messages></flash-messages>
<div class="row">
  <!-- Колонка с роутами для редактирования данных -->
  <div class="col-lg-4">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/mark']">Редактировать марку</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/model']">Редактировать модель</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/modification']">Редактировать модификацию</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/unit']">Редактировать агрегат</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/detail']">Редактировать список разделов</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/item']">Редактировать раздел</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/editing/editimgmain/itemdetail']">Редактировать составляющие раздела</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-8">
    <!-- Страницы редактирования данных -->
    <router-outlet></router-outlet>
  </div>
</div>
