
  <!-- Вывод флеш-сообщений -->
  <div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>
  <div fxLayoutAlign="space-around center">
    <!-- Передача ID выбранной марки в компонент -->
    <mat-form-field fxFlex="20%">
        <mat-select placeholder="Марка">
          <mat-option *ngFor="let carItem of markName" (click)="passCarId(carItem)" [value]="carItem.markName">
            {{carItem.markName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Передача ID выбранной модели в компонент -->
    <mat-form-field fxFlex="20%">
        <mat-select placeholder="Модель">
          <mat-option *ngFor="let model of modelName" (click)="passModelId(model)" [value]="model.modelsName">
            {{model.modelsName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Передача ID выбранной модификации в компонент -->
    <mat-form-field fxFlex="20%">
        <mat-select placeholder="Модификация">
          <mat-option *ngFor="let modification of modifications" (click)="passModificationId(modification)" [value]="modification.modificationName">
            {{modification.modificationName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Передача ID выбранного агрегата в компонент -->
  <mat-form-field fxFlex="20%">
      <mat-select placeholder="Название агрегата">
        <mat-option *ngFor="let unit of units" (click)="passUnitId(unit)" [value]="unit.unitName">
          {{unit.unitName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div fxLayout="row wrap" *ngIf="passedId">
  <div class="pic" *ngFor="let item of details">
    <a class="img-link" (click)="passDetailId(item._id)">
      <img src="{{item.detailImage}}" class="img-nav">
      <p class="img-name">{{item.detailName}}</p>
    </a>
  </div>
</div>
