<!-- Вывод флеш-сообщений -->
<div class="alert alert-{{message.type}}" *ngIf="message">{{message.text}}</div>
<div fxLayoutAlign="space-around center">
  <!-- Передача ID выбранной марки в компонент -->
  <mat-form-field fxFlex="15%">
    <mat-select placeholder="Марка">
      <mat-option *ngFor="let carItem of markName" (click)="passCarId(carItem)" [value]="carItem.markName">
        {{carItem.markName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Передача ID выбранной модели в компонент -->
  <mat-form-field fxFlex="15%">
    <mat-select placeholder="Модель">
      <mat-option *ngFor="let model of modelName" (click)="passModelId(model)" [value]="model.modelsName">
        {{model.modelsName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Передача ID выбранной модификации в компонент -->
  <mat-form-field fxFlex="15%">
    <mat-select placeholder="Модификация">
      <mat-option *ngFor="let modification of modifications" (click)="passModificationId(modification)" [value]="modification.modificationName">
        {{modification.modificationName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Передача ID выбранного агрегата в компонент -->
  <mat-form-field fxFlex="15%">
    <mat-select placeholder="Название агрегата">
      <mat-option *ngFor="let unit of units" (click)="passUnitId(unit)" [value]="unit.unitName">
        {{unit.unitName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Передача ID выбранной детали в компонент -->
  <mat-form-field fxFlex="15%">
    <mat-select placeholder="Название детали">
      <mat-option *ngFor="let detail of details" (click)="passDetailId(detail)" [value]="detail.detailName">
        {{detail.detailName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
