<form #form="ngForm">
  <div class="select">
    <label for="markName">Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select id="markName" (change)="passCarId($event)" class="form-control">
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="modelName">Модель</label>
    <!-- Передача ID выбранной модели в компонент -->
    <select id="modelName" (change)="passModelId($event)" class="form-control">
      <option></option>
      <option *ngFor="let model of modelName" [value]="model._id">{{model.modelsName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="modificationName">Модификация</label>
    <!-- Передача ID выбранной модификации в компонент -->
    <select id="modificationName" (change)="passModificationId($event)" class="form-control">
      <option></option>
      <option *ngFor="let modification of modifications" [value]="modification._id">{{modification.modificationName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="detailGroup">Агрегат</label>
    <!-- Передача ID выбранного агрегата в компонент -->
    <select id="detailGroup" (change)="passUnitId($event)" class="form-control">
      <option></option>
      <option *ngFor="let unit of units" [value]="unit._id">{{unit.unitName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="detailName">Схема</label>
    <!-- Передача ID выбранной схемы в компонент -->
    <select id="detailName" (change)="passDetailId($event)" class="form-control">
      <option></option>
      <option *ngFor="let detail of details" [value]="detail._id">{{detail.detailName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="analogueName">Основная схема раздела</label>
    <!-- Передача ID выбранной основной схемы в компонент -->
    <select id="analogueName" (change)="passOriginalId($event)" class="form-control">
      <option></option>
      <option *ngFor="let analogue of analogues" [value]="analogue._id">{{analogue.itemImage}}</option>
    </select>
  </div>
  <!-- Блок внесения данных -->
  <div class="form-group">
    <p>Внесите данные</p>
    <input type="text" class="form-control" [(ngModel)]="itemNumber" name="itemNumber" required placeholder="Внесите порядковый номер">
    <input type="text" class="form-control" [(ngModel)]="itemName" name="itemName" required placeholder="Внесите название детали">
    <input type="text" class="form-control" [(ngModel)]="itemArticle" name="itemArticle" required placeholder="Внесите артикулы через запятую">
    <textarea [(ngModel)]="itemNote" name="itemNote" placeholder="Внесите примечание" class="form-control"></textarea>
  </div>
  <button class="btn btn-success" (click)="addItems()" [disabled]="!isConfirmed && !form.valid">Добавить</button>
</form>