<div class="alert alert-{{a.type}}" *ngIf="b">{{a.text}}</div>
<form #form="ngForm" novalidate (ngSubmit)="addCar()">
  <!-- Блок добавления данных -->
  <div class="form-group">
    <label>Внесите название марки автомобиля</label>
    <input type="text" class="form-control" [(ngModel)]="markName" name="markName" required #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched">
    <small *ngIf="name.invalid && name.touched">Заполните форму</small>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="form.form.invalid">Добавить</button>
</form>
