<!-- Передача объекта детали в компонент -->
<app-dropdown-navigation (showCar)="showCar($event)"></app-dropdown-navigation>
<div class="columns d-flex justify-content-between">
  <div class="column-item">
    <h5>
      Оригинальный артикул
    </h5>
    <p *ngFor="let orNum of originalNumber">{{orNum}}</p>
  </div>
  <div class="column-item">
    <h5>
      Аналог
    </h5>
    <div class="column-analog d-flex" *ngFor="let anNum of analogueNumber">
      <div class="analog-name">
        {{anNum.analogueName}}
      </div>
      <div class="analog-num">
        {{anNum.analogueNum}}
      </div>
    </div>
  </div>
  <div class="column-item">
    <h5>
      Изображение
    </h5>
  </div>
  <div class="column-item">
    <h5>
      Примечание
    </h5>
    <p>{{note}}</p>
  </div>
</div>