<div class="header">
  <h1>Каталоги запчастей для автомобилей</h1>
  <p>Добро пожаловать в каталоги запчастей для автомобилей производства Hyundai, Kia, Daewoo.</p>
  <button mat-raised-button class="btn" [routerLink]="['/home']" color="accent">Каталоги</button>
  <button mat-raised-button class="btn" [routerLink]="['/login']" color="primary">Login</button>
</div>
<div fxLayout="row" fxLayoutGap="40px">
  <div class="card">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores vel facilis optio aut nisi perspiciatis!</p>
  </div>
  <div class="card">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores vel facilis optio aut nisi perspiciatis!</p>
  </div>
  <div class="card">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores vel facilis optio aut nisi perspiciatis!</p>
  </div>
</div>
