<form #form="ngForm" novalidate (ngSubmit)="addModel()">
  <div class="form-group">
    <label>Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select (change)="passCarId($event)" class="custom-select" name="carItem" ngModel required>
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <!-- Блок добавления данных -->
  <div class="form-group">
    <label>Внесите название модели автомобиля</label>
    <input type="text" class="form-control" [(ngModel)]="modelsName" name="modelsName" required #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched">
    <small *ngIf="name.invalid && name.touched">Заполните форму</small>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="form.form.invalid">Добавить</button>
</form>
