<form #form="ngForm">
  <div class="select">
    <label for="markName">Марка</label>
    <!-- Передача ID выбранной марки в компонент -->
    <select id="markName" (change)="passCarId($event)" class="form-control">
      <option></option>
      <option *ngFor="let carItem of markName" [value]="carItem._id">{{carItem.markName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="modelName">Модель</label>
    <!-- Передача ID выбранной модели в компонент -->
    <select id="modelName" (change)="passModelId($event)" class="form-control">
      <option></option>
      <option *ngFor="let model of modelName" [value]="model._id">{{model.modelsName}}</option>
    </select>
  </div>
  <div class="select">
    <label for="modificationName">Модификация</label>
    <!-- Передача ID выбранной модификации в компонент -->
    <select id="modificationName" (change)="passModificationId($event)" class="form-control">
      <option></option>
      <option *ngFor="let modification of modifications" [value]="modification._id">{{modification.modificationName}}</option>
    </select>
  </div>
  <button class="btn btn-danger" (click)="remove()" [disabled]="!isConfirmed">Удалить</button>
  <div class="form-group">
    <p>Внесите новое название модификации автомобиля</p>
    <input type="text" class="form-control" [(ngModel)]="modificationName" name="modificationName" required>
  </div>
  <button class="btn btn-warning" (click)="editModification()" [disabled]="!isConfirmed && !form.valid">Редактировать</button>
</form>